BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 110
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline

# Function call argument formatting
BinPackArguments: true
BinPackParameters: false
AlignAfterOpenBracket: DontAlign
ContinuationIndentWidth: 4
AllowAllArgumentsOnNextLine: false
PenaltyBreakBeforeFirstCallParameter: 1000000

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false

IfMacros: [IF]