name: ci

permissions:
  contents: write

on:
  push:
    branches: [ "main", "cmake-support", "boost_v1.89-process-support-removed-uci-analyser", "static-linking" ]
  pull_request:
    branches: [ "main" ]
  release:
    types: [ "created" ]

jobs:
  build:
    name: build-and-test-${{ matrix.platform.os }}-${{ matrix.platform.compiler }}
    runs-on: ${{ matrix.platform.os }}
    defaults:
      run:
        shell: ${{ matrix.platform.terminal }}

    if: github.event_name == 'push' || github.event_name == 'pull_request'

    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        platform:
        - { name: Windows GCC,  os: windows-latest , cc: gcc,   cxx: g++,     terminal: pwsh, gen: -G "MinGW Makefiles" }
        - { name: Ubuntu GCC,   os: ubuntu-latest,   cc: gcc,   cxx: g++,     terminal: bash }
        - { name: Ubuntu Clang, os: ubuntu-latest,   cc: clang, cxx: clang++, terminal: bash }
        build:
        - { type: Debug }

    steps:
    - name: checkout
      uses: actions/checkout@v5

    - name: Set up Clang
      if: matrix.platform.os == 'ubuntu-latest'
      uses: egor-tensin/setup-clang@v1
      with:
        version: 21
        platform: x64

    - name: Linux Allow Executable To Execute
      if: matrix.platform.os == 'ubuntu-latest'
      run: chmod +x bin/engines/stockfish

    - name: Configure (CMake) - ${{ matrix.platform.name }} (${{ matrix.build.type }})
      run: cmake -S . -B build -DCMAKE_BUILD_TYPE=${{ matrix.build.type }} -DCMAKE_C_COMPILER=${{ matrix.platform.cc }} -DCMAKE_CXX_COMPILER=${{ matrix.platform.cxx }} ${{ matrix.platform.gen }}

    - name: Build (CMake) - ${{ matrix.platform.name }} (${{ matrix.build.type }})
      run: cmake --build build --config ${{ matrix.build.type }}

    - name: Run tests (CTest) - (${{ matrix.build.type }}) - ${{ matrix.platform.name }}
      if: matrix.platform.os == 'ubuntu-latest'
      run: |
        cmake --build build --config Debug --target test
        CTEST_OUTPUT_ON_FAILURE=1 ctest --test-dir build -C Debug

    - name: Run tests (CTest) - (${{ matrix.build.type }}) - ${{ matrix.platform.name }}
      if: matrix.platform.os == 'windows-latest'
      run: |
        cmake --build build --config Debug --target test
        $env:CTEST_OUTPUT_ON_FAILURE=1; ctest --test-dir build -C Debug

    - name: Show test program output - Linux
      if: matrix.platform.os == 'ubuntu-latest'
      run: |
        echo "=== Program Test Output ==="
        cat Testing/Temporary/LastTest.log
      working-directory: build

    - name: Show test program output - Windows
      if: matrix.platform.os == 'windows-latest'
      run: |
        Write-Host "=== Program Test Output ==="
        Get-Content Testing/Temporary/LastTest.log
      working-directory: build

    - name: Check output files content - Linux
      if: matrix.platform.os == 'ubuntu-latest'
      continue-on-error: true
      run: |
        echo "=== Contents of analyzed-first.pgn ==="
        cat ./pgn_samples/analyzed-first.pgn
        echo "=== Contents of analyzed-stats-first.json ==="
        cat ./pgn_samples/analyzed-stats-first.json

    - name: Check output files content - Windows
      if: matrix.platform.os == 'windows-latest'
      continue-on-error: true
      run: |
        Write-Host "=== Contents of analyzed-first.pgn ==="
        Get-Content ./pgn_samples/analyzed-first.pgn
        Write-Host "=== Contents of analyzed-stats-first.json ==="
        Get-Content ./pgn_samples/analyzed-stats-first.json

    - name: Verify expected output files (CMake script) - Linux
      if: matrix.platform.os == 'ubuntu-latest'
      run: |
        cmake -P cmake/check_outputs.cmake -DPROJECT_SOURCE_DIR=${{ github.workspace }}

    - name: Verify expected output files (CMake script) - Windows
      if: matrix.platform.os == 'windows-latest'
      run: |
        cmake -P cmake/check_outputs.cmake -DPROJECT_SOURCE_DIR=${{ github.workspace }}

  release:
    name: build-and-upload-release-${{ matrix.platform.os }}-${{ matrix.platform.cxx }}
    runs-on: ${{ matrix.platform.os }}
    defaults:
      run:
        shell: ${{ matrix.platform.terminal }}

    if: github.event_name == 'release' && github.event.action == 'created'

    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        platform:
        - { name: Windows GCC,  os: windows-latest , cc: gcc,   cxx: g++ ,     packed: apgn-windows-g++.zip,   terminal: pwsh, gen: -G "MinGW Makefiles" }
        - { name: Ubuntu GCC,   os: ubuntu-latest,   cc: gcc,   cxx: g++ ,     packed: apgn-linux-g++.zip,     terminal: bash }
        - { name: Ubuntu Clang, os: ubuntu-latest,   cc: clang, cxx: clang++ , packed: apgn-linux-clang++.zip, terminal: bash }
        build:
        - { name: debug,   type: Debug }
        - { name: release, type: Release }
    steps:
    - name: checkout
      uses: actions/checkout@v5

    - name: Set up Clang
      if: matrix.platform.os == 'ubuntu-latest'
      uses: egor-tensin/setup-clang@v1
      with:
        version: 21
        platform: x64

    - name: Linux Allow Executable To Execute
      if: matrix.platform.os == 'ubuntu-latest'
      run: chmod +x bin/engines/stockfish

    - name: Configure (CMake) - ${{ matrix.platform.name }} (${{ matrix.build.type }})
      run: cmake -S . -B build -DCMAKE_BUILD_TYPE=${{ matrix.build.type }} -DCMAKE_C_COMPILER=${{ matrix.platform.cc }} -DCMAKE_CXX_COMPILER=${{ matrix.platform.cxx }} ${{ matrix.platform.gen }}

    - name: Build (CMake) - ${{ matrix.platform.name }} (${{ matrix.build.type }})
      run: cmake --build build --config ${{ matrix.build.type }}

    - name: Run tests  (CTest) - (${{ matrix.build.type }}) - ${{ matrix.platform.name }}
      if: matrix.platform.os == 'ubuntu-latest'
      run: |
        cmake --build build --config ${{ matrix.build.type }} --target test
        CTEST_OUTPUT_ON_FAILURE=1 ctest --test-dir build -C ${{ matrix.build.type }}

    - name: Run tests  (CTest) - (${{ matrix.build.type }}) - ${{ matrix.platform.name }}
      if: matrix.platform.os == 'windows-latest'
      run: |
        cmake --build build --config ${{ matrix.build.type }} --target test
        $env:CTEST_OUTPUT_ON_FAILURE=1; ctest --test-dir build -C ${{ matrix.build.type }}

    - name: Show test program output (${{ matrix.build.type }}) - ${{ matrix.platform.name }}
      if: matrix.platform.os == 'ubuntu-latest'
      run: |
        echo "=== Program Test Output ==="
        cat Testing/Temporary/LastTest.log
      working-directory: build

    - name: Show test program output (${{ matrix.build.type }}) - ${{ matrix.platform.name }}
      if: matrix.platform.os == 'windows-latest'
      run: |
        Write-Host "=== Program Test Output ==="
        Get-Content Testing/Temporary/LastTest.log
      working-directory: build

    - name: Delete output file from test
      run: cmake -P cmake/delete_outputs.cmake -DPROJECT_SOURCE_DIR=${{ github.workspace }}

    - name: Package for (${{ matrix.build.type }})
      run: cmake --build build --target package_for_release

    - name: upload zip to release assets
      uses: actions/upload-release-asset@v1
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: ./${{ matrix.platform.packed }}
        asset_name: ${{ matrix.build.name }}-${{ matrix.platform.packed }}
        asset_content_type: application/zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
